@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    :root {
        --background: #FAFAFA;
        --foreground: #18181B;
        --muted: #F4F4F5;
        --muted-foreground: #71717A;
        --card: #FFFFFF;
        --card-foreground: #18181B;
        --border: #E4E4E7;
    }

    .dark {
        --background: #09090B;
        --foreground: #E4E4E7;
        --muted: #27272A;
        --muted-foreground: #A1A1AA;
        --card: #18181B;
        --card-foreground: #E4E4E7;
        --border: #27272A;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground transition-colors duration-300;
    }
}